body {
  margin: 0;
  padding: 0;
}

.search-user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:goldenrod;
}

input{
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-size: 16px;
  outline: none;
}


/* 액션바 스타일 */
.action-bar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.action-button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.action-button:hover {
  background-color: #ddd;
}

/* 테이블 스타일 */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

table th span,
table td span {
  font-weight: bold;
}

table th {
  background-color: #333;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* 아이템 리스트 */
ol {
  padding: 0;
  margin-left: 100px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f5f5f5;
}

li:nth-child(1) {
  color:goldenrod;
}